<div class="size">
    <form>
        <div class="header">
            <h2 class="header-survey"> {{showTitle}}
            </h2>
        </div>
        <div class="row">
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 center txt-red">
                This is a preview, NO results will be recorded.
            </div> -->
            <br>
        </div>
        <br>
        <br>
        <div *ngIf="start">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="header-survey">How are we doing?</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    Thank you for agreeing to participate. In order to continuously improve our products and our service, we would like to invite you to take a few minutes to answer some questions. Your answers will be treated confidentially and will help us to better meet
                    your wishes. Thank you in advance for your participation and feedback.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 center">
                    <button class="btn btn-blue" (click)="onStart()">Start</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 center">
                    <div class="text-center tag_color">
                        <b>Meridian 4<sup>th</sup> Party Logistics (M4PL<sup>TM</sup>)</b>
                    </div>
                    <div class="text-center tag_color">
                        <b>Copyright © 2019 Meridian Worldwide Transportation Group</b>
                    </div>
                    <div class="text-center tag_color">
                        <b>All Rights Reserved World-wide </b>
                    </div>
                </div>
            </div>
        </div>
        <mat-progress-spinner mode="indeterminate" class="loader" [diameter]="80" *ngIf="enableSpinner">
        </mat-progress-spinner>
        <div *ngIf="dynamicOperation">
            <div *ngFor="let item of tempVoiceList; let i=index;">
                <div *ngIf="item.QuestionTypeIdName === 'Yes/No' && currentSelectedQuestion === i">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <b><span class="txt-red">Q{{i+1}}.</span> {{item.Title}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left: 27px;">
                            {{item.QuestionDescription}}
                        </div>
                    </div>
                    <br>
                    <div style="margin-left: 27px;">
                        <label>
                            <input type="radio" [value]="item.AgreeTextId" [(ngModel)]="item.SelectedAnswer"
                                name="{{'rdrSelection' + i}}" (change)="onDynamicRadioChange(i, $event)">&nbsp;
                            <span>{{item.AgreeText}}</span>
                        </label>
                        <label>
                            <input type="radio" [value]="item.DisAgreeTextId" name="{{'rdrSelection' + i}}"
                                class="radio-margin" (change)="onDynamicRadioChange(i, $event)"
                                [(ngModel)]="item.SelectedAnswer">&nbsp;
                            <span>{{item.DisAgreeText}}</span>
                        </label>
                    </div>
                </div>
                <div *ngIf="item.QuestionTypeIdName === 'Range' && currentSelectedQuestion === i">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <b><span class="txt-red">Q{{i+1}}.</span> {{item.Title}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left: 27px;">
                            {{item.QuestionDescription}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left:22px;">
                            <app-rating-star [max]='item.EndRange' [idParam]='item.QuestionId' [vocAllStar]='vocAllStar' (onRating)="onRating($event,item.QuestionId)">
                            </app-rating-star>
                        </div>
                    </div>
                </div>
                <div *ngIf="item.QuestionTypeIdName === 'Key-In' && currentSelectedQuestion === i">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <b><span class="txt-red">Q{{i+1}}.</span> {{item.Title}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left: 27px;">
                            {{item.QuestionDescription}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left: 27px;">
                            <textarea name="{{'txtArea' + i}}" [(ngModel)]="item.SelectedAnswer" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="feddbackForm">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <b><span class="txt-red">Q{{currentSelectedQuestion + 1}}.</span> Do you have any comments?
                    </b>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left: 27px;">
                    <textarea name="feedback" [(ngModel)]="feedback" rows="5"></textarea>
                </div>
            </div>
        </div>

        <div *ngIf="thankYouPage">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="header-survey">Your responses have been registered!</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    Thank you for taking the time to complete the survey. Your answers are important for us and provide valuable input for the evaluation and furthur improvement of our products and service.
                </div>
            </div>
            <br>
            <div class="row">
                <!-- <button type="button" class="btn btn-close" (click)="unloadHandler($event);">Close</button> -->
            </div>
        </div>
        <br>
        <br>
        <div class="row" *ngIf="butonGroup" style="margin-left: 12px;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 prog-bar">
                <mat-progress-bar mode="determinate" [value]="progressbarValue" class="pull-right">
                </mat-progress-bar>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">{{progressBarVal}}% complete</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 right-aligned">
                <button class="btn btn-back" (click)="onBack()">Back</button>
                <button class="btn btn-next" (click)="onNext()">{{buttonName}}</button>
            </div>
        </div>
        <div class="row" *ngIf="noInformation">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="blue-panel">NO SURVEYS AVAILABLE</div>
                <div class="no-information">
                    <b> <span class="thankTrying">Thank you for trying!</span> Unfortunately, there are no surveys
                        available for you at this time. Don't worry. We are adding in new surveys all the time. Please
                        check back later for more survey opportunities. We appreciate your time. </b>
                </div>
            </div>
        </div>
    </form>
</div>