.center {
    text-align: center;
    margin-top: 25px;
}

.btn-blue {
    background-color: #4b8efa;
    color: white;
    padding: 6px 23px;
    margin-top: 35px;
}

.link {
    text-decoration: underline;
    color: black;
}

.header {
    color: #7ec1ff;
}

.txt-red {
    color: red;
    font-size: 15px;
}

.low-rating {
    color: red;
    text-align: left;
    font-weight: bold;
}

.high-rating {
    color: green;
    font-weight: bold;
}

.btn-rating {
    background-color: white;
    border: 1px solid gray;
    padding: 10px 30px;
}

textarea {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    border: 0px;
    border-bottom: 1px solid #4b8efa;
}

.mat-progress-bar {
    height: 14px;
}

.prog-bar {
    padding: 14px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .header-survey {
        font-size: 24px !important;
    }
}


/* .btn:focus {
    background: #4b8efa;
} */

@media (min-width: 320px) and (max-width: 767px) {
    .header-survey {
        font-size: 22px !important;
    }
    .btn-blue,
    .btn-rating {
        padding: 5px 20px;
    }
    .btn-next,
    .btn-back {
        padding: 3px 12px;
    }
    .prog-bar {
        top: -25px;
    }
    .table-rating {
        overflow-x: scroll;
    }
    .mat-progress-bar {
        height: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header-survey {
        font-size: 22px !important;
    }
    .btn-blue,
    .btn-next,
    .btn-back,
    .btn-rating {
        padding: 5px 22px !important;
    }
    .table-rating {
        overflow-x: scroll;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .btn-blue,
    .btn-next,
    .btn-back,
    .btn-rating {
        padding: 5px 30px !important;
    }
    .prog-bar {
        padding: 8px;
    }
}

.tp-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.tp-radio-button {
    margin: 5px;
}

.tp-selected-value {
    margin: 15px 0;
}

.radio-margin {
    margin-left: 10px;
}

.text-center {
    text-align: center;
}

.tag_color {
    -webkit-text-stroke: 1px transparent !important;
    color: #000000 !important;
    font-size: 15px !important;
    font-variant: small-caps !important;
}

.btn-close {
    top: 50%;
    background-color: #4b8efa;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 0%;
    padding: 10px 30px;
    color: white;
}

.no-information {
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0%;
    padding: 30px 30px;
    border: 1px solid darkgray;
}

.blue-panel {
    background-color: #4b8efa;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 40px;
    padding: 8px;
}

.thankTrying {
    color: #0000ff;
}

.loader {
    position: absolute !important;
    right: 50%;
}

.right-aligned {
    text-align: right;
}